@import "src/assets/styles/variable.module.scss";
.container {
  height: 100px;
  border-bottom: solid 1px $borderColor;
  width: calc(100% - 300px);
  background-color: $cardColor;
  display: flex;
  align-items: center;
  span {
    margin: 0rem auto 0 2rem;
  }
}
