@import "src/assets/styles/variable.module.scss";
.container {
  height: 100px;
  border-bottom: solid 1px $borderColor;
  background-color: $cardColor;
  display: flex;
  align-items: center;
  grid-area: 1 / 2 / 2 / 8;
  span {
    margin: 0 auto 0 2rem;
  }
}

.logout {
  background-color: $cardColor;
  border: solid 2px $primaryColor;
  margin: 0 2rem;
  &:hover {
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
}
