@import "../../assets/styles/variable.module.scss";
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 400px;
}

.secondButton {
  margin-left: 2rem;
  background-color: transparent;
  &:hover {
    background-color: rgba($primaryColor, 0.5);
  }
}
